<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>電子周刊 - @ViewBag.Title </title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="bg-dark">
        <img src="~/Images/Home/a1.png" class="rounded mx-auto d-block" alt="...">
    </div>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark">
        <div class="container">
            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" title="切換導覽" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li style="font-size: x-large; text-align: center;" class="mx-auto hh">@Html.ActionLink("首頁", "Index", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                    <li style="font-size: x-large; text-align: center;" class="mx-auto hh">@Html.ActionLink("影視娛樂", "Index", "S01", new { area = "" }, new { @class = "nav-link" })</li>
                    <li style="font-size: x-large; text-align: center;" class="mx-auto hh">@Html.ActionLink("財經金融", "Index", "S04", new { area = "" }, new { @class = "nav-link" })</li>
                    <li style="font-size: x-large; text-align: center;" class="mx-auto hh">@Html.ActionLink("3C科技", "Index", "S08", new { area = "" }, new { @class = "nav-link" })</li>
                    <li style="font-size: x-large; text-align: center;" class="mx-auto hh">@Html.ActionLink("醫療衛生", "Index", "S03", new { area = "" }, new { @class = "nav-link" })</li>
                    <li style="font-size: x-large; text-align: center;" class="mx-auto hh">@Html.ActionLink("節日活動", "Index", "S12", new { area = "" }, new { @class = "nav-link" })</li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p class="text-center">&copy; @DateTime.Now.Year - 電子周刊</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
<style>
    .hh {
        width: 15%;
    }

    .hh:hover {
        background-color: #585858;
    }
</style>
</html>
